.foodLocation {
    width: 430px;
    height: 60px;
    border: 3px;
    padding: 5px;
    margin: 5px;
    border-style: solid;
    border-radius: 25px;
    color: black;
    background-color: brown;
}

body {
    background-color: teal;
}

.foodTypes {
    width: 200px;
    height: 200px;
    border: 3px;
    padding: 5px;
    margin: 5px;
    border-style: solid;
    border-radius: 25px;
    color: black;
    background-color: gray;
    display: inline-block;
}

img {
    width: 250px;
    height: 210px;
    border-radius: 25px;
    padding: 5px;
    margin: 5px;
    position: absolute;
}

.textColor {
    color: rgb(15, 2, 97);
}